{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Aleksandra Czerepak - profesjonalna modelka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/core.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/elements.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}?version=4">
  </head>
  <body>
    <div id="wrapper" class="container-fluid sidebar">
      <aside id="main-sidebar" class="centered"><a href="/" class="brand"><span class="name">Aleksandra Czerepak</span><span class="title hidden-xs">Modelka</span></a>
        <div class="responsive-nav">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <nav class="main-nav">
          <ul>
            <li><a href="/" class="active">Home</a>
             
            </li>
           
            <li><a href="{% url 'app:about' %}">About</a>
            </li>
            </li>
            <li><a href="{% url 'app:contact' %}">Contact</a>
            </li>
          </ul>
        </nav>
        <div style="background-image: url({% static 'images/moje/lewahome.jpg' %});" class="bg faded"></div>
      </aside>
      <section class="main">
        <div class="img-grid">
          <div class="item-sizer"></div>
          <a href="{% static 'images/moje/1.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"><img src="{% static 'images/moje/1.jpg' %}"></a>
          <a href="{% static 'images/moje/2.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"><img src="{% static 'images/moje/2.jpg' %}"></a>
          <a href="{% static 'images/moje/3.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"><img src="{% static 'images/moje/3.jpg' %}"></a>
                <a href="{% static 'images/moje/4.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/4.jpg' %}"></a>
                  <a href="{% static 'images/moje/5.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/5.jpg' %}"></a>
                    <a href="{% static 'images/moje/6.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"><img src="{% static 'images/moje/6.jpg' %}"></a>
                      <a href="{% static 'images/moje/7.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"><img src="{% static 'images/moje/7.jpg' %}"></a>
                        <a href="{% static 'images/moje/8.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"><img src="{% static 'images/moje/8.jpg' %}"></a>
                          <a href="{% static 'images/moje/9.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/9.jpg' %}"></a>
                            <a href="{% static 'images/moje/10.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/10.jpg' %}"></a>
                              <a href="{% static 'images/moje/11.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/11.jpg' %}"></a>
                                <a href="{% static 'images/moje/12.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/12.jpg' %}"></a>
                                  <a href="{% static 'images/moje/13.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"><img src="{% static 'images/moje/13.jpg' %}"></a>
                                    <a href="{% static 'images/moje/14.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/14.jpg' %}"></a>
                                    <a href="{% static 'images/moje/15.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/15.jpg' %}"></a>
                                    <a href="{% static 'images/moje/16.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/16.jpg' %}"></a>
                                    <a href="{% static 'images/moje/17.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/17.jpg' %}"></a>
                                    <a href="{% static 'images/moje/18.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/18.jpg' %}"></a>
                                    <a href="{% static 'images/moje/19.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/19.jpg' %}"></a>
                                      <a href="{% static 'images/moje/20.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/20.jpg' %}"></a>
                                        <a href="{% static 'images/moje/21.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"><img src="{% static 'images/moje/21.jpg' %}"></a>
                                          <a href="{% static 'images/moje/22.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/22.jpg' %}"></a>
                                          <a href="{% static 'images/moje/23.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/23.jpg' %}"></a>
                                          <a href="{% static 'images/moje/24.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/24.jpg' %}"></a>
                                          <a href="{% static 'images/moje/25.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/25.jpg' %}"></a>
                                          <a href="{% static 'images/moje/26.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/26.jpg' %}"></a>
                                          <a href="{% static 'images/moje/27.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"><img src="{% static 'images/moje/27.jpg' %}"></a>
                                            <a href="{% static 'images/moje/28.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/28.jpg' %}"></a>
                                            <a href="{% static 'images/moje/29.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/29.jpg' %}"></a>
                                            <a href="{% static 'images/moje/30.jpg' %}" data-caption="Lorem ipsum" class="item lightbox"> <img src="{% static 'images/moje/30.jpg' %}"></a>

        </div>
      </section>
    </div>
    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'modules/tera-lightbox/tera-lightbox.js' %}"></script>
  </body>
</html>